//colors
$black-color: #363735;
$white-color: #F8F8F8;
$grey-color: #70726E;
$orange-color: #D0AE84;

//fonts
$font-family: "SuisseIntl-Regular", sans-serif;
$font-weight: 400;
$font-size: 13px;
$line-height: 1.4;
$font-second: "Metal-Trial-Reg-3", sans-serif;
